/* Font declarations */
@font-face {
  font-family: 'Ubuntu';
  src: url('./fonts/Ubuntu-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

/* Si tienes más archivos de fuentes Ubuntu, agrega más declaraciones @font-face aquí */ 